<include file="./Application/Member/View/Public/header.html"/>
<div class="box">
    <div class="box-header">
      <h3 class="box-title">奖项列表</h3> &nbsp;&nbsp; <if condition="session('access')['option_article'] eq 1"> <a href="{:U('Home/Medal/add')}" class="btn btn-info btn-flat btn-xs">添加奖项</a>
    </div>
    <!-- /.box-header -->
    <div class="box-body" style="width:600px;">
		<if condition="$list">
            <table class="table table-bordered table-hover">
                <tr>
                    <th><strong>ID</strong></th>
                    <th><strong>名称</strong></th>
                    <th><strong>名额</strong></th>
                    <th><strong>状态</strong></th>
                    <!--<th><strong>允许提名限额</strong></th>-->
                    <th><strong>添加时间</strong></th>
                    <th><strong>操作</strong></th>
                </tr>
                <volist name="list" id="data">
                    <tr>
                        <td rowspan="{$data.rowspan}">{$data.id}</td>
                        <td rowspan="{$data.rowspan}">{$data.name}</td>
                        <td rowspan="{$data.rowspan}">{$data.places}名</td>
                        <td rowspan="{$data.rowspan}">
                        <if condition="$data['status'] == 1">正常<else/>停用</if>
                        </td>
                        <!--<td rowspan="{$data.rowspan}">{$data.nominate_places}名</td>-->
                        <td rowspan="{$data.rowspan}">{$data.datetime}</td>
                        <td rowspan="{$data.rowspan}">
                        <if condition="session('group_id') eq 1"> 
                            &nbsp;&nbsp; <a href="{:U('Home/Medal/edit?id='.$data['id'])}">编辑</a>
                            &nbsp;&nbsp; <a href="{:U('Home/Medal/delete?id='.$data['id'])}">删除</a>
                        </if>
                        </td>
                    </tr>
                </volist>
            </table>
        <else />
            <div class="note">
                <p class="i">目前没有相关记录!</p>
            </div>
        </if>
    </div>
</div>
<include file="./Application/Member/View/Public/footer.html"/>