<include file="./Application/Member/View/Public/header.html"/>
<div class="box">
    <div class="box-body">
   <form action="__SELF__" method="get">
    <table class="table table-bordered" style="width:900px; margin-bottom:0;">
    	<tr>
        <td width="200">分类：</td>
        <td>
        <select name="cateid" class="form-control">
        <option value="0">--</option>
        <volist name="category" id="data">
       <option value="{$data.id}" <if condition="$cateid eq $data['id']">selected="selected"</if>>{$data.name}</option>
       </volist>
        </select>
        </td>
        <td width="160">Package：</td>
        <td><input type="text" class="form-control" name="package" value="{$package}" /></td>
        <td rowspan="3" width="60"><input type="submit" value="提交" class="btn btn-primary" /></td>
        </tr>
        <tr>
        <td>Manufacturers.Mfr.Part.Number：</td>
        <td><input type="text" class="form-control" name="partnumber" value="{$partnumber}" /></td>
        <td>Manufacturers.Mfr.Name：</td>
        <td><input type="text" class="form-control" name="manufacturer" value="{$manufacturer}" /></td>
        </tr>
        <tr>
        <td>Description：</td>
        <td><input type="text" class="form-control" name="description" value="{$description}" /></td>
        <td>Inventory：</td>
        <td><input type="text" class="form-control" name="stock" value="{$stock}" /></td>
        </tr>
    </table>
    </form>
    </div>
</div>
<div class="box">
    <div class="box-header">
      <h3 class="box-title">库存单 &nbsp;&nbsp; <a href="{:U('Home/Material/MaterialAdd')}" class="btn btn-info btn-flat btn-xs">添加</a></h3>
    </div>
    <!-- /.box-header -->
    <div class="box-body">
        <if condition="$list">
            <table class="table table-bordered">
                <tr>
                    <th>CODE</th>
                    <th>分类</th>
                    <th>Package</th>
                    <th>Manufacturers.Mfr.Name</th>
                    <th>Manufacturers.Mfr.Part.Number</th>
                    <th>Description</th>
                    <th>Inventory</th>
                    <th>Price</th>
                    <th>操作</th>
                </tr>
                <volist name="list" id="applylist">
                    <tr>
                        <td>{$applylist.code}</td>
                        <td>{$applylist.catename}</td>
                        <td>{$applylist.package}</td>
                        <td>{$applylist.manufacturer}</td>
                        <td>{$applylist.partnumber}</td>
                        <td>{$applylist.description}</td>
                        <td>
                        <?php echo ($applylist['stock'] == intval($applylist['stock'])) ? intval($applylist['stock']) : $applylist['stock']; ?>
                        </td>
                        <td>{$applylist.price}</td>
                        <td>
                        <if condition="session('group_id') eq 1 OR session('access')['option_receive'] eq 1">
                        <a href="{:U('Home/Material/MaterialEdit?id='.$applylist['id'])}">编辑</a> &nbsp;&nbsp; 
                        <a href="{:U('Home/Material/MaterialDelete?id='.$applylist['id'])}">删除</a>
                        </if>
                        </td>
                    </tr>
                </volist> 
                <tr class="nobg">
                    <td class="tdpage" colspan="9"><div class="pager">{$page}</div></td>
                </tr>
            </table>
        <else />
            <div class="note">
                <p class="i">目前没有库存单!</p>
            </div>
        </if>
	</div>
<include file="./Application/Member/View/Public/footer.html"/>