<include file="./Application/Member/View/Public/header.html"/>
<div class="box">
    <div class="box-header">
      <h3 class="box-title">入库单</h3>
    </div>
    <!-- /.box-header -->
    <div class="box-body">
        <if condition="$list">
            <table class="table table-bordered">
                <tr>
                    <th>CODE</th>
                    <th>Manufacturers.Mfr.Name</th>
                    <th>Manufacturers.Mfr.Part.Number</th>
                    <th>Package</th>
                    <th>Quantity</th>
                    <th>Price</th>
                    <th>入库时间</th>
                </tr>
                <volist name="list" id="applylist">
                    <tr>
                        <td>NULL</td>
                        <td>{$applylist.manufacturer}</td>
                        <td>{$applylist.partnumber}</td>
                        <td>{$applylist.package}</td>
                        <td class="quanity">{$applylist.quantity}</td>
                        <td>{$applylist.price}</td>
                        <td>{:date('Y-m-d', strtotime($applylist['updatetime']))}</td>
                    </tr>
                </volist> 
                <tr class="nobg">
                    <td class="tdpage" colspan="7"><div class="pager">{$page}</div></td>
                </tr>
            </table>
        <else />
            <div class="note">
                <p class="i">目前没有入库单!</p>
            </div>
        </if>
	</div>
<include file="./Application/Member/View/Public/footer.html"/>