<include file="./Application/Member/View/Public/header.html"/>
<link rel="stylesheet" href="__PUBLIC__/plugins/datepicker/datepicker3.css" type="text/css" media="all" />
<script src="__PUBLIC__/plugins/datepicker/bootstrap-datepicker.js" type="text/javascript"></script>
<script src="__PUBLIC__/plugins/datepicker/locales/bootstrap-datepicker.zh-CN.js" type="text/javascript"></script>
<script>
$(function(){
	$('.datetime').datepicker({
		format: 'yyyy-mm-dd'
	});
})
</script>
<div class="box">
    <div class="box-header">
      <form action="__SELF__" method="get">
        <ul class="search-inline">
            <li>出库日期: </li>
            <li><input type="text" class="form-control datetime" name="srchregdatestart" value="{$srchregdatestart}"></li>
            <li>-</li>
            <li><input type="text" class="form-control datetime" name="srchregdateend" value="{$srchregdateend}"></li>
            <if condition="session('group_id') eq 1 OR session('access')['option_materialuses'] eq 1"><li><input type="submit" value="提交" class="btn btn-primary" /> &nbsp;&nbsp;&nbsp;&nbsp; <a class="btn btn-info btn-flat" href="{:U('Home/Material/usesAdd')}">新增出库记录</a></li></if>
        </ul>
      </form>
    </div>
    <!-- /.box-header -->
    <div class="box-body">
        <if condition="$list">
            <table class="table table-bordered">
                <tr>
                    <th>CODE</th>
                    <th>Manufacturers.Mfr.Name</th>
                    <th>Manufacturers.Mfr.Part.Number</th>
                    <th>Package</th>
                    <th>Use.Qty</th>
                    <!--<th>申请人</th>-->
                    <th>出库时间</th>
                    <th>操作员</th>
                </tr>
                <volist name="list" id="applylist">
                    <tr>
                        <td>{$applylist.code}</td>
                        <td>{$applylist.manufacturer}</td>
                        <td>{$applylist.partnumber}</td>
                        <td>{$applylist.package}</td>
                        <td>{$applylist.quantity}</td>
                        <!--<td>{$applylist.username}</td>-->
                        <td>{:date('Y-m-d', strtotime($applylist['datetime']))}</td>
                        <td>{$applylist.add_username}</td>
                    </tr>
                </volist> 
                <tr class="nobg">
                    <td class="tdpage" colspan="7"><div class="pager">{$page}</div></td>
                </tr>
            </table>
        <else />
            <div class="note">
                <p class="i">目前没有出库信息!</p>
            </div>
        </if>
	</div>
<include file="./Application/Member/View/Public/footer.html"/>