<include file="./Application/Member/View/Public/header.html"/>
<div class="box">
    <div class="box-header">
      <h3 class="box-title">修改密码</h3>
    </div>
    <!-- /.box-header -->
    <form action="__SELF__" method="post" class="form-horizontal">
    <div class="box-body" style="width:500px;">
        <div class="form-group">
          <label class="col-sm-2 control-label" for="password">新密码:</label>
          <div class="col-sm-10">
            <input type="text" id="password" name="password" class="form-control">
          </div>
        </div>
        <div class="opt"><input type="submit" name="submit" value="提交" class="btn btn-primary" /></div>
    </div>
    </form>
</div>
<include file="./Application/Member/View/Public/footer.html"/>
